# Byte-code files
*.pyc
__pycache__/

# Environments
.venv/
venv/
env/
ENV/

# Build artifacts
dist/
build/
*.egg-info/

# Editors and IDEs (optional, consider global ignore for personal use)
.vscode/
.idea/

# Testing and debugging
.pytest_cache/
nosetests.xml

# Specific OS files
.DS_Store # macOS
Thumbs.db # Windows